.h-type-accent {
  color: $color-secondary-500;
}

.h-type-litecoin {
  color: #a5a8a9;
}

.h-type-bitcoin {
  color: #f7931a;
}

.h-type-ethereum {
  color: #627eea;
}

.h-type-usdt {
  color: #26a17b;
}
